{% extends "login.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger text-center" role="alert" style="width: 50%; margin:0 auto; margin-top:10px; margin-bottom:10px;">
    Correo o contrase単a incorrecta.
</div>
{% endif %}

<div style="text-align:center; width:600px; height:600px; border:1px solid grey; margin:auto; margin-top:100px;" >
<h1>Admin</h1>
    <form action="{{ path('login-admin') }}" method="post" class="form-signin text-center" style="margin-top: 15px; margin-left:30%; margin-right:30%;">
    <i class="fas fa-user fa-5x"></i>
    <h1 class="h3 mb-3 font-weight-normal"></h1>
    <label for="username" class="sr-only">Login:</label>
    <input type="text" id="username" class="form-control"name="_username" value="{{ lastUsername }}" placeholder="Correo:" width="30" autofocus>
    <label for="inputPassword" class="sr-only">Password:</label>
    <input type="password" id="inputPassword" class="form-control"name="_password" placeholder="contrase単a:">
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Recordarme</label>
    <button class="btn btn-lg btn-outline-dark btn-block" type="submit">Iniciar sesion</button>
</form>

<a href="">多 Has olvidado tu contrase単a ?</a>
<p><a href="">Registra tu restaurante</a></p>
</div>


{% endblock %}