{% extends "layout.html.twig" %}

{% block title %}Nuevo Usuario{% endblock %}
{% block body %}
<div class="form-row">
  <div class="col shadow-lg p-3 mb-5 bg-white rounded border"> 
    <a href="{{ path('login') }}" style="color:#4917C4;">
      <i class="fas fa-arrow-circle-left fa-3x" style="float:left" title="login"></i>
    </a>
    <h1 class="text-center display-4">Crear cuenta usuario <i class="fas fa-user-plus"></i></h1>
  <hr />
  {% form_theme formulario 'bootstrap_4_horizontal_layout.html.twig' %}
  {{ form_start(formulario,{'attr': {'novalidate': 'novalidate'}}) }}
  {{ form_widget(formulario) }}
  {{ form_end(formulario) }}
  </div>
</div>
{% endblock %}